html
  head

    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')

    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js')

    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js')
    
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js')

  body
    //- The navigation bar
    nav.navbar.navbar-expand-lg.navbar-dark.bg-primary
      a.navbar-brand(href='/') Node.io
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item
            a.nav-link(href='/')
              | Home 
          li.nav-item
            a.nav-link(href='/products') Products
          li.nav-item 
            if cart.length 
              a.nav-link(href="#") Cart (#{cart.reduce((a, b) => a + b)})
            else 
              a.nav-link(href="#") Cart (0)
      
      p(style={ color: 'white' })= username

    .container.pt-5
      block content